<div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{this.ChatName}}</h5>
{{> iheart}}
      </div>
      <p class="card-text">{{this.Description}}</p>
      <a href="/chatroom?RoomID={{this.RoomID}}" class="btn btn-primary">Join Chat</a>
    </div>
  </div>