<footer class="bd-footer py-4 py-md-5 mt-5" style="background-color: #8b1d2e; color: black;">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <!-- Site Logo -->
        <a class="navbar-brand" href="#">
          <img src="/images/MediaMate logo.png" alt="Logo" width="30" height="30">
        </a>
        <br><br>
        <!-- Decorative TMDB Logo -->
<div class="d-flex flex-column gap-2 mt-3">
  <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
       alt="TMDB Logo" width="40" height="40">
  <img src="/images/google-books-logo.png"
       alt="Google Books" width="40" height="40">
  <img src="/images/rawg-logo.jpg"
       alt="RAWG" width="40" height="40">
  <img src="/images/bootstrap_logo..png"
       alt="Bootstrap" width="40" height="40">
</div>

      </div>

      <div class="col-lg-3 mb-3">
        <h5>Explore</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/category/games" class="nav-link p-0 text-body-secondary">Games</a></li>
          <li class="nav-item mb-2"><a href="/category/movies" class="nav-link p-0 text-body-secondary">Movies</a></li>
          <li class="nav-item mb-2"><a href="/category/books" class="nav-link p-0 text-body-secondary">Books</a></li>
          <li class="nav-item mb-2"><a href="/community" class="nav-link p-0 text-body-secondary">Community</a></li>
        </ul>
      </div>

      <div class="col-lg-3 mb-3">
        <h5>User Convenience</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/faq" class="nav-link p-0 text-body-secondary">FAQ</a></li>
          <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Contact</a></li>
          <li class="nav-item mb-2"><a href="/register" class="nav-link p-0 text-body-secondary">Register</a></li>
          <li class="nav-item mb-2"><a href="/login" class="nav-link p-0 text-body-secondary">Login</a></li>
        </ul>
      </div>

      <div class="col-lg-3 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 d-flex align-items-center">
            <a href="https://developers.google.com/books" target="_blank" class="nav-link p-0 text-body-secondary">Google Books API</a>
          </li>
          <li class="nav-item mb-2 d-flex align-items-center">
            <a href="https://rawg.io/apidocs" target="_blank" class="nav-link p-0 text-body-secondary">RAWG API</a>
          </li>
          <li class="nav-item mb-2 d-flex align-items-center">
            <a href="https://getbootstrap.com" target="_blank" class="nav-link p-0 text-body-secondary">Bootstrap</a>
          </li>
          <li class="nav-item mb-2 d-flex align-items-center">
            <a href="https://developers.themoviedb.org/3" target="_blank" class="nav-link p-0 text-body-secondary">TMDB API</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>




