<button class="btn btn-sm favorite-btn"
  data-favorite-id="{{FavoriteID}}"
  data-room-id="{{RoomID}}"
  data-content-type="Community">
  <i class="bi {{#if this.isFavorite}}bi-heart-fill{{else}}bi-heart{{/if}}"></i>
</button>