<div class="card-slider">
  <button onclick="scrollSliderLeft(this)" class="arrow arrow-left"> < </button>
  <button onclick="scrollSliderRight(this)" class="arrow arrow-right"> > </button>
  <div class="card-container overflow-hidden">
    {{#each content}}
      {{> card_alt this type=../type from="home" }}
    {{/each}}
  </div>
</div>