<div class="container mt-5 p-4 rounded" style="background-color: #8b1d2e; color: black;">
    <h1 class="text-center mb-4">Error {{error.status}}</h1>
    <p class="text-center text-muted">Something went wrong. Please try again later.</p>

    {{#if message}}
    <div class="alert text-center fs-4" role="alert">
        {{message}}
    </div>
    {{/if}}

    {{#if error.stack}}
    <div class="mt-4">
        <h5 class="text-center">Debug Information (Development Mode)</h5>
        <pre class="bg-light p-3 rounded" style="color: black;">{{error.stack}}</pre>
    </div>
    {{/if}}

    <div class="text-center mt-4">
        <a href="/" class="btn btn-danger">Return to Home</a>
    </div>
</div>