<div class="container mt-5 p-4 rounded" style="background-color: #8b1d2e; color: black;">

  <h1 class="text-center mb-4">Register</h1>

  {{#if successMessage}}
    <div class="alert alert-success text-center" role="alert">
      {{successMessage}}
    </div>

    <script>
      setTimeout(() => {
        window.location.href = '/login';
      }, 2000);
    </script>
  {{/if}}

  {{#if errorMessage}}
    <div class="alert alert-danger text-center" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  <form action="/register" method="POST" class="mt-4 col-md-6 offset-md-3">

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" required />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required />
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-danger">Register</button>
    </div>

  </form>
</div>
