<div class="container mt-5 p-4 rounded text-center" style="background-color: #f8f9fa;">
  <h2>{{message}}</h2>
  <p>You will be redirected shortly...</p>
</div>

<script>
  setTimeout(() => {
    window.location.href = "{{redirect}}";
  }, 2500);
</script>
